.App{
  margin: 0%;
  padding: 0%;
}


.leftDiv{
  width: 25%;
  height: 40vh;
  border:1px solid black;
  margin-top: 20vh;
  margin-left: 2%;
  padding: 3%;
  display: flex;
  flex-direction: row;
align-self: center;
flex-wrap: wrap;
justify-content: space-between;
}

.divCircle{
  width: 150px;
  height: 150px;
  margin-bottom: 3vh;
  border-radius: 50%;
  border: 1px solid black;
}

.rightDiv{
  width: 12%;
  position: absolute;
  top: 5vh;
  left: 50%;
  height: 70vh;
 display: flex;
  flex-direction: column;

}

.inputBox{
 
   width: 100%;
   height: 5vh;
   border-radius: 5px;
   

}
.inputDiv{
  position: absolute;
  left: 70%;
  width: 10%;

   

}

.inputDiv > button{
  width: 100%;
  margin-top: 3px;
  height: 60px;
}